{% extends "index.html" %}
{% block title %} Our address {% endblock %}
{% block content %}
<div class="location">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2375.7880940708937!2d-2.2473448236603013!3d53.45437416663552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb21d95e59bdb%3A0x1a3386c6f970f52f!2sRichie%20%26%20Nickie%20Liquor%20Store!5e0!3m2!1sen!2sin!4v1698994759947!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<address><h1>159 Princess Road (upstairs at Richie and Nickie liquor store )
Postcode M14 4RE</h1></address>
<a href="https://shorturl.at/DGKLV" target="_blank">View address on google map</a>
</div>
{% endblock %}